.headercontainer {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #0c111a;
  color: white;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.479);
}
.contacts {
  margin-right: 10px;
}
.contacts > .MuiSvgIcon-root,
.contacts > a > .MuiSvgIcon-root {
  height: 34px;
  width: 34px;
  padding-right: 10px;
  color: white;
  cursor: pointer;
}
.contacts>a{
  text-decoration: none;
  color: white;
}
.contacts > .MuiSvgIcon-root:hover,
.contacts > a > .MuiSvgIcon-root:hover {
  color: rgba(209, 209, 209, 0.836);
}
.midnav {
  height: inherit;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.midnav > a > img {
  object-fit: contain;
  height: 60px;
  margin-left: 10px;
  cursor: pointer;
}
